<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Mars info-->
    <div class="row" id="mars-data">
      <div class="col-md">
        <h4 class="heading"><strong>Latest Mars News</strong></h4>
        {{ mars.news_title }}
        <p><small>{{ mars.news_body }}</small></p>
      </div>
    </div>
    <div class="row" id="mars-data">
      <div class="col-md-8">
          <h5><strong>Featured image for Mars</strong></h5>
        <img src="{{ mars.featured_image_url }}" alt="Featured Mars Image">
      </div>
      <div class="col-md-4">
        <div class="weather">
            <strong><small>Weather Conditions on Mars</small></strong>
         <p>{{ mars.weather }}</p>
        </br>
        <div class="table">
            <strong><small>Mars Facts</small></strong>
        </br>
            {{ mars.space_facts }}
        </div>
        </div>
      </div>
    </div>

    <div class="row text-center mt-2">
      <strong>Mars Hemispheres</strong>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-6">
          <div class="column">
            <img src="{{ mars.h_1_img }}" width="450" height="400">
          </div>
        </div>
        <div class="col-md-6">
          <div class="column">
            <img src="{{ mars.h_2_img }}" width="450" height="400">
          </div>
        </div>
        <div class="w-100"></div>
        <div class="col-md-6">
          <div class="column">
            <img src="{{ mars.h_3_img }}" width="450" height="400">
          </div>
        </div>
        <div class="col-md-6">
          <div class="column">
            <img src="{{ mars.h_4_img }}" width="450" height="400">
          </div>
        </div>
      </div>
  </div>
</body>

</html>

